@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="chatDialog" title="Chat with support">
    <div id="chatMainPanel">
        <ul id="chatHistory"></ul>
        <div id="bottomPanel">
            <form id="chatForm">
                <input id="messageTextBox" type="text" placeholder="Type your message"/>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</div>